.dropdown-container {
  position: relative;
  display: inline;
}

.row-header {
  position: sticky;
  left: 0;
  /* border: ; */
  background: linear-gradient(to right, white, white 50%, rgba(255, 255, 255, 0));
}
