@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-R.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-B.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-I.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-BI.ttf');
  font-weight: bold;
  font-style: italic;
} */

td,
th {
  padding: 0px;
  margin: 0px;
}

h1 {
  @apply text-6xl text-center;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

.hover-blue {
  @apply bg-blue-300 shadow outline-none hover:bg-blue-500 hover:shadow-xl focus:bg-blue-500 focus:outline-none focus:shadow-xl transition-all;
}

.btn-blue {
  @apply bg-blue-300 shadow px-4 py-2 rounded-xl outline-none hover:bg-blue-500 hover:shadow-xl focus:bg-blue-500 focus:outline-none focus:shadow-xl transition-all;
}

.border-gray {
  @apply border-gray-300 border-2;
}

summary:focus {
  outline: none;
  cursor: pointer;
}
