@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-R.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-B.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-I.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-BI.ttf');
  font-weight: bold;
  font-style: italic;
} */

td,
th {
  padding: 0px;
  margin: 0px;
}

.hover-blue {
  @apply bg-blue-300 hover:bg-blue-500 focus:outline-none transition-colors;
}
