@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-R.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-B.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-I.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Charis SIL';
  src: url('/fonts/CharisSIL-BI.ttf');
  font-weight: bold;
  font-style: italic;
} */

td,
th {
  padding: 0px;
  margin: 0px;
}

.hover-blue {
  @apply bg-blue-300 hover:bg-blue-500 focus:bg-blue-500 outline-none focus:outline-none shadow hover:shadow-xl focus:shadow-xl;

  transition-property: background-color, border-color, color, fill, stroke,
    box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.border-gray {
  @apply border-gray-300 border-2;
}

summary:focus {
  outline: none;
  cursor: pointer;
}
